<div class="clipping">
    <nav class="grey darken-2" role="navigation">
        <div class="nav-wrapper container">
            <div id="logo-container" class="brand-logo">WHOIS Client Blazor App</div>
        </div>
    </nav>

    <div class="container section">
        <div class="row">
            <form name="queryform" class="col s12 m6 l5" novalidate>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="query" name="query" @bind(this.Query) placeholder="Domain or IP Address to query" required />
                        <label for="query">Query</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="server" name="server" @bind(this.Server) placeholder="(optional) Host name or IP Address of whois server" />
                        <label for="server">Whois server</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="encoding" id="encoding" @bind(this.Encoding) class="autocomplete" autocomplete="off" />
                        <label for="encoding">Encoding</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @if (this.FormValid)
                        {
                            <button class="blue btn btn-large waves-effect waves-light col s12" @onclick(Submit)>query</button>
                        }
                        else
                        {
                            <button disabled class="blue btn btn-large waves-effect waves-light col s12">query</button>
                        }
                    </div>
                </div>
            </form>

            <div class="col s12 m6 l7 response">
                <label>Response</label>
                @if (this.Response != null)
                {
                    <div>
                        <h4>Responded servers</h4>
                        @if (this.Response.RespondedServers != null)
                        {
                            <div>@string.Join(" > ", Response.RespondedServers)</div>
                        }
                        <h4>IP address range</h4>
                        @if (this.Response.AddressRange != null)
                        {
                            <div>@Response.AddressRange.Begin - @Response.AddressRange.End</div>
                        }
                        <h4>Organization name</h4>
                        <div>@Response.OrganizationName</div>
                        <h4>Raw response text</h4>
                        <pre>@Response.Raw</pre>
                    </div>
                }
            </div>
        </div>
    </div>

    <footer class="page-footer grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col m4 s12">
                    <!-- Reference to API -->
                </div>
                <div class="col m4 s12">
                    <h5 class="grey-text text-lighten-1">Powered by</h5>
                    <ul>
                        <li>
                            <a target="_blank" class="grey-text text-lighten-1" href="https://www.nuget.org/packages/WhoisClient.NET/">
                                <span>WhoisClient.NET</span>
                                <img src="https://img.shields.io/nuget/v/WhoisClient.NET.svg" alt="WhoisClient.NET NuGet Package latest version" />
                            </a>
                        </li>
                        <li><a target="_blank" class="grey-text" href="http://materializecss.com/">Materialize</a></li>
                    </ul>
                </div>
                <div class="col m4 s12">
                    <div>
                        <!-- Share Twitter -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                GNU GPL v2 | Source code on <a target="_blank" class="grey-text text-lighten-4" href="https://github.com/sample-by-jsakamoto/WHOISClientBlazorApp/">GitHub</a>
            </div>
        </div>
    </footer>
</div>
<script>
    Materialize.updateTextFields();
</script>

@inject HttpClient Http
@using System.Net
@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using Whois.NET
@using Newtonsoft.Json

@functions{
    const string WhoisAPIEndPoint = "https://whois.azurewebsites.net";

    public string Query { get; set; } = "";

    public string Server { get; set; } = "";

    public string Encoding { get; set; } = "";

    public string[] Encodings { get; private set; }

    public WhoisResponse Response { get; set; }

    public bool FormValid { get => !string.IsNullOrWhiteSpace(this.Query); }

    protected override async Task OnInitAsync()
    {
        // This is cause exception.
        // await base.OnInitAsync();

        this.Encodings = await Http.GetJsonAsync<string[]>($"{WhoisAPIEndPoint}/api/encodings");
        Console.WriteLine(this.Encodings);

        // 1. I wanna void version.
        // 2. "RegisteredFunction.Invoke" has same issue? https://github.com/aspnet/SignalR/issues/1268
        RegisteredFunction.Invoke<object>("setupAutocompleteEncoding", this.Encodings as object);
    }

    public async void Submit()
    {
        var query = WebUtility.UrlEncode(this.Query);
        var server = WebUtility.UrlEncode(this.Server);
        if (string.IsNullOrWhiteSpace(this.Encoding))
        {
            this.Encoding = "utf-8";
            RegisteredFunction.Invoke<object>("updateText");
        }
        var encoding = WebUtility.UrlEncode(this.Encoding);
        var rawResponse = await Http.GetStringAsync($"{WhoisAPIEndPoint}/api/whois/{query}?encoding={encoding}&server={server}");

        // DEBUG: Console.WriteLine($"rawResponse is [{rawResponse}]");
        this.Response = JsonConvert.DeserializeObject<WhoisResponse>(rawResponse);

        StateHasChanged();
    }
}
