@inject HttpClient Http

<h1>WHOIS</h1>

<div>
    <select @bind(this.Encoding)>
        @foreach (var encode in this.Encodings)
        {
            <option>@encode</option>
        }
    </select>
</div>

<div>
    <button @onclick(this.DoIt)>QUERY</button>
</div>

<div>
    <pre>@DebugText</pre>
</div>

<div>
    @if (this.WhoisResponse != null)
    {
        <pre>@this.WhoisResponse.Raw</pre>
    }
</div>

@functions{ 
    const string WhoisAPIEndPoint = "https://whois.azurewebsites.net";

    public string DebugText { get; set; }

    public string Encoding { get; set; }

    public string[] Encodings { get; private set; } = new string[] { };

    public global::Whois.NET.WhoisResponse WhoisResponse { get; set; }

    protected override async Task OnInitAsync()
    {
        //this.WhoisResponse = await Http.GetJsonAsync<global::Whois.NET.WhoisResponse>($"{WhoisAPIEndPoint}/api/whois/3863.co.jp?encoding=utf-8");
        this.Encodings = await Http.GetJsonAsync<string[]>($"{WhoisAPIEndPoint}/api/encodings");

        //global::Microsoft.AspNetCore.Blazor.

        foreach (var enc in this.Encodings)
        {
            Console.WriteLine(enc);
        }

        //return base.OnInitAsync();
    }

    public void DoIt()
    {
        this.DebugText = this.Encoding;
    }
}